SEEDS = {
    'arriktoreg/dockerconfig_encrypted': '''{{ENCRYPTED_DOCKERCONFIG}}''',
    'arriktoreg/dockerconfig_passphrase': '{{DOCKERCONFIG_PASSPHRASE}}',
    'cli-aws/access_key_id': '{{AWS_ACCESS_KEY_ID}}',
    'cli-aws/secret_access_key': '{{AWS_SECRET_ACCESS_KEY}}',
    'eks-alb-acm/subdomain': '{{EKS_ALB_ACM_SUBDOMAIN}}',
    'eks-alb-nginx/trusted_cidrs': ['31.177.62.212/32', '185.158.220.136/29'],
    'eks-alb-zone/domain': 'aws-dev.arrikto.com',
    'eks-alb-zone/zone_id': '/hostedzone/Z08893681AKMCJZ2MRWZ4',
    'eks-cluster/name': '{{EKS_CLUSTER}}',
    'eks-cluster/trusted_cidrs': ['31.177.62.212/32', '185.158.220.136/29'],
    'eks-iam-cluster/cf': 'rok-{{AWS_DEFAULT_REGION}}-{{USERNAME}}-eksClusterRole',
    'eks-iam-cluster/role': 'rok-{{AWS_DEFAULT_REGION}}-{{USERNAME}}-eksClusterRole',
    'eks-iam-node/cf': 'rok-{{AWS_DEFAULT_REGION}}-{{USERNAME}}-eksNodeRole',
    'eks-iam-node/role': 'rok-{{AWS_DEFAULT_REGION}}-{{USERNAME}}-eksNodeRole',
    'eks-nodegroup/instance_type': 'm5d.2xlarge',
    'envvars-aws/region': '{{AWS_DEFAULT_REGION}}',
    'aws-vpc/config': '{{AWS_VPC_CONFIG}}',
    'aws-vpc/cf_stack': '{{AWS_VPC_CF_STACK}}',
    'git/unencrypted_ssh_key': '''{{UNENCRYPTED_SSH_KEY}}''',
    'git/user_email': 'kimwnasptd@arrikto.com',
    'git/user_name': 'Kimonas Sotirchos',
    'tools/env_type': 'docker',
    'users/dex_default_user_passwd': '{{DEX_DEFAULT_USER_PASSWD}}',
    'clone/branch': '{{CLONE_BRANCH}}',
    'clone/local_repo': '/root/ops/deployments',
    'clone/upstream_repo': '{{UPSTREAM_REPO}}',
}
